.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    height: 100vh;
    padding: 2rem;
}
.account{
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #007AFF;
}

.baseImage img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 784px;
    height: 650.5px;
}
.container{
    width: 1440px;
    display: flex;
    margin: 20px auto;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 48px;
}
label{
    font-size: 12px;
    padding-left: 16px;
}
.remember {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember span{
    font-size: 12px;
}
.passwordContainer {
    position: relative;
  }
  
  .toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
.btn {
    width: 360px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 400px;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #0056b3;
}

.login {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    margin-top: 1rem;
}
.logininput{
    padding: 14px 16px;
    border-radius: 6px;
    width: 360px;
    background-color: rgb(239, 233, 233);
    outline: none;
    border: none;
}
.google{
    display: flex ; 
    gap: 10px;
    justify-content: center;
    background-color: #333333;
}